<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block", class: "form-label"  %>
    <%= form.text_field :name, class: "form-control m-2 w-50" %>
  </div>
  <div>
    <%= form.label :preparation_time, style: "display: block", class: "form-label"  %>
    <%= form.time_field :preparation_time, class: "form-control m-2 w-25" %>
  </div>
  <div>
    <%= form.label :cooking_time, style: "display: block", class: "form-label"  %>
    <%= form.time_field :cooking_time, class: "form-control m-2 w-25" %>
  </div>
  <div>
    <%= form.label :description, style: "display: block", class: "form-label"  %>
    <%= form.text_area :description, class: "form-control m-2 w-50 row-5" %>
  </div>
  <div class="form-check form-switch">
    <%= form.check_box :public, class: "form-check-input", role: "switch" %>
    <%= form.label :public, style: "display: block", class: "form-check-label"  %>
  </div>
  <div class="mt-4 actions">
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
