<div>
  <div>
    <%= recipe.name %>
    <%= "By #{recipe.user.name}" %>
    <% if can? :destroy, recipe %>
    <%= link_to 'Remove',
      recipe_path(recipe), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
      class: "btn btn-danger" %>
  </div>
  <div>
    <div>Total food items: <%= recipe.foods.count %></div>
    <div>Total Price: <%= recipe.total_cost %></div>
  </div>
</div>