<div class="container-lg row p-4 border border-secondary rounded shadow">
  <div class="col-3">
    <h3><%= link_to recipe.name, recipe %></h3>
    <h4><%= "By #{recipe.user.name}" %></h4>
    <% if can? :destroy, recipe %>
      <%= link_to 'Remove',
        recipe_path(recipe), data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?"
                      },
        class: "btn btn-danger" %>
    <% end %>
  </div>
  <div class="d-flex flex-column col-5 gap-2 align-items-center">
    <div class="fs-4">Total food items: <%= recipe.recipe_foods.count %></div>
    <div class="fs-4">Total Price: <%= number_to_currency(recipe.total_cost) %></div>
  </div>
</div>