<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time.to_s(:time) %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= recipe.cooking_time.to_s(:time) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= recipe.public %>
  </p>

  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

  <p>
    <%= link_to 'Generate Shopping List', recipe_shopping_list_path(recipe) %>
    <%= link_to 'Add ingredient', new_recipe_recipe_food_path(recipe) %>
  </p>
  <%= render 'shared/food_table' do %>
    <%= render @recipe_foods %>
  <% end %>
</div>
