<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td>$<%= food.price %></td>
  <td><%= food.quantity %></td>
  <td>
    <%= link_to "Show", food, class: "btn btn-primary" %> | 
    <%= button_to "Delete", food, method: :delete, class: "btn btn-danger" %></td>
</tr>
