<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td>$<%= food.price %></td>
  <td><%= food.quantity %></td>
  <td >
    <ul class="d-flex">
      <li><%= link_to "Show", @food, class: "btn btn-primary" %></li>
      |
      <li><%= button_to "Delete", food, method: :delete, class: "btn btn-danger" %></li>
    </ul>
  </td>
</tr>
