<tr>
  <td><%= food.name %></td>
  <td><%= food.measurement_unit %></td>
  <td>$<%= food.price %></td>
  <td><%= food.quantity %></td>
  <td >
    <ul class="d-sm-flex">
      <li><%= link_to "Show", food, class:"m-2 btn btn-primary" %></li>
      |
      <li><%= button_to "Delete", food, method: :delete,class: "m-2 btn btn-danger" %></li>
    </ul>
  </td>
</tr>
